#registeredConnections .registeredConnection .thumbnail, #allDatabaseTypes .databaseType .thumbnail {
  background-color: white;
  text-align: center;
  padding: 20px;
}

#registeredConnections .registeredConnection .thumbnail > img, #allDatabaseTypes .databaseType .thumbnail > img {
  margin-bottom: 12px;
}

#registeredConnections .registeredConnection .thumbnail dl dd, #allDatabaseTypes .databaseType .thumbnail dl dd {
  margin-left: 0;
}

#advancedConfig {
    display: none;
}

#advancedConfig.form-actions {
    padding-left: 0;
}

#advancedConfigToggle {
    cursor: pointer;
}

div.box-1 {
    padding: 0;
}

div.box-1 form {
    margin-bottom: 0;
}

form legend {
    padding-left: 20px;
}

.form-actions {
    margin-bottom: 0;
}

#connectionForm .form-actions {
    margin-top: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.grcorners {
    background: lightgrey;
    border-radius: 25px;
    padding: 30px;
    width: auto;
    height: auto;
}

.rcorners {
    background: lightgrey;
    border-radius: 25px;
    /*border:black solid 8px;*/
    padding: 20px;
    width: auto;
    height: auto;
}

.round-corners-16 {
    border-radius: 16px;
    background: #ffffff;
}

.center-align {
    text-align: center;
}

.box-wrap {
    border: solid 1px #bbbbbb;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: -2px 2px 3px -3px rgba(0,0,0,1);
}

.box-wrap2 {
    border: solid 1px #bbbbbb;
    background: #fff;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    min-height: 125px;
    box-shadow: -2px 2px 3px -3px rgba(0,0,0,1);
}

.heading-placer {
    position: relative;
    top:25px;
    left: 15px;
    background-color: #ffffff;
}

.databaseSelection {
    min-width: 600px;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }

.md-button.md-fab.md-success:not([disabled]){
    background-color:#5cb85c;
}

.md-button.md-fab.md-success:not([disabled]):hover {
    background-color:#5cb85c;
}

.importContainer {
    min-width: 800px;
}

/*.test-class {*/
    /*outline: 10px solid red*/
/*}*/
.connectionContainer {
    width: 400px;
}

.editConnectionContainer {
    min-width: 600px;
}

.successStatusBar {
    position: relative;
    margin-left:-16px;
    top: 0px;
    left: 0px;
    width: 10px;
    min-height: 80px;
    height:95%;
    background-color:green;
    margin-right:10px;
    border:solid 1px white;
}
.errorStatusBar {
    position: relative;
    margin-left:-16px;
    top: 0px;
    left: 0px;
    width: 10px;
    min-height: 80px;
    height:95%;
    background-color: #d80502;
    margin-right:10px;
    border:solid 1px white;
}

.statusWarningMessage {
    font-size: 0.75em;
    font-style: italic;
    color: #f74d20;
}

.noToolTipAnimation {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    transition: 0s !important;
    transform-origin: 50% 50% 0 !important;
}

.showErrorMessages {
    opacity: 1 !important;
    margin-top: 0px !important;
}

.main-section {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 16px;
}

.connection-containerMain {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 12px;
    margin-bottom: 26px;
}

.connection-containerMain h3 {
    font-size: 14px;
    color: rgba(0,0,0,0.52);
    font-weight: 500;
    padding-left: 8px;
    margin-bottom: 0;
}

.connection-containerMain button {
    color: #fff !important;
    padding: 0 16px;
}

/* Custom style for DB card */

.db-card {
    position: relative;
    outline: none;
}

.db-card.db-linked {
    border-left: 4px solid #00E676;
}

.db-card.db-unlinked {
    border-left: 4px solid #F44336;
}

.db-card .db-info {
    color: rgba(0, 0, 0, 0.52);
    font-size: 14px;
    line-height: 24px;
}

.db-card .db-info span {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.67);
}

.dbCard-menu {
    position: absolute;
    top: 4px;
    right: 0;
}

.db-card-selected {
    opacity: 1;
}

.db-card-not-selected {
    opacity: .67;
}
.db-card.transition {
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.db-card.cursor-pointer:hover {
    background-color: rgba(158,158,158,0.2);
}

.cursor-pointer {
    cursor: pointer;
}

.custom-confirm-dialog {
    display: flex; align-items: center; justify-content: center; padding-left:8px;
}

.center-content {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(195, 195, 195, 0.75); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.toast-success, .toast-error, .toast-warn {
    background-color: transparent !important;
}
.toast-success .md-toast-content{
    background-color: rgba(92, 184, 92, 0.88) !important;
}

.toast-error .md-toast-content {
    background-color: rgba(247, 77, 32, 0.88) !important;
}

.toast-warn .md-toast-content {
    background-color: rgba(234,159,5,0.88) !important;
}

.float-right {
    float:right;
}

.disabled-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.md-button.md-fab.md-info:not([disabled]){
    background-color: #4997b8;
}

.md-button.md-fab.md-info:not([disabled]):hover {
    background-color: rgba(73, 151, 184, 0.78);
}
.reload-button {
    bottom:20px;
    left:20px;
}

.dc-toolbar {
    padding-right: 28px !important;
}