#registeredConnections .registeredConnection .thumbnail, #allDatabaseTypes .databaseType .thumbnail {
  background-color: white;
  text-align: center;
  padding: 20px;
}

#registeredConnections .registeredConnection .thumbnail > img, #allDatabaseTypes .databaseType .thumbnail > img {
  margin-bottom: 12px;
}

#registeredConnections .registeredConnection .thumbnail dl dd, #allDatabaseTypes .databaseType .thumbnail dl dd {
  margin-left: 0;
}

#advancedConfig {
    display: none;
}

#advancedConfig.form-actions {
    padding-left: 0;
}

#advancedConfigToggle {
    cursor: pointer;
}

div.box-1 {
    padding: 0;
}

div.box-1 form {
    margin-bottom: 0;
}

form legend {
    padding-left: 20px;
}

.form-actions {
    margin-bottom: 0;
}

#connectionForm .form-actions {
    margin-top: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#grcorners {
    background: lightgrey;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: auto;
}

#rcorners {
    border-radius: 30px;
    padding: 40px;
    width: auto;
    height: auto;
}


#off{
    border:1px solid red;
    background: #ff8d96;
    width:100%;
    height:auto;

}
#on{
    border:1px solid green;
    background: #42ff7e;
    width:100%;
    height:auto;
    margin:auto;
}



