#registeredConnections .registeredConnection .thumbnail, #allDatabaseTypes .databaseType .thumbnail {
  background-color: white;
  text-align: center;
  padding: 20px;
}

#registeredConnections .registeredConnection .thumbnail > img, #allDatabaseTypes .databaseType .thumbnail > img {
  margin-bottom: 12px;
}

#registeredConnections .registeredConnection .thumbnail dl dd, #allDatabaseTypes .databaseType .thumbnail dl dd {
  margin-left: 0;
}

#advancedConfig {
    display: none;
}

#advancedConfig.form-actions {
    padding-left: 0;
}

#advancedConfigToggle {
    cursor: pointer;
}

div.box-1 {
    padding: 0;
}

div.box-1 form {
    margin-bottom: 0;
}

form legend {
    padding-left: 20px;
}

.form-actions {
    margin-bottom: 0;
}

#connectionForm .form-actions {
    margin-top: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.grcorners {
    background: lightgrey;
    border-radius: 25px;
    padding: 30px;
    width: auto;
    height: auto;
}

.rcorners {
    background: lightgrey;
    border-radius: 25px;
    /*border:black solid 8px;*/
    padding: 20px;
    width: auto;
    height: auto;
}

.round-corners-16 {
    border:#E1E2E7 solid 2px;
    border-radius: 16px;
    background: #ffffff;
}

.off{
    border:2px solid red;
    background: #ff8d96;


}
.on {
    border: 2px solid green;
    background: #42ff7e;
}

.center-align {
    text-align: center;
}

.status-wrap {
    border: solid 1px #bbbbbb;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: -2px 2px 3px -3px rgba(0,0,0,1);
}

.heading-placer {
    position: relative;
    top:25px;
    left: 15px;
    background-color: #ffffff;
}

.databaseSelection {
    min-width: 600px;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }
.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }
