#registeredConnections .registeredConnection .thumbnail, #allDatabaseTypes .databaseType .thumbnail {
  background-color: white;
  text-align: center;
  padding: 20px;
}

#registeredConnections .registeredConnection .thumbnail > img, #allDatabaseTypes .databaseType .thumbnail > img {
  margin-bottom: 12px;
}

#registeredConnections .registeredConnection .thumbnail dl dd, #allDatabaseTypes .databaseType .thumbnail dl dd {
  margin-left: 0;
}

#advancedConfig {
    display: none;
}

#advancedConfig.form-actions {
    padding-left: 0;
}

#advancedConfigToggle {
    cursor: pointer;
}

div.box-1 {
    padding: 0;
}

div.box-1 form {
    margin-bottom: 0;
}

form legend {
    padding-left: 20px;
}

.form-actions {
    margin-bottom: 0;
}

#connectionForm .form-actions {
    margin-top: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.grcorners {
    background: lightgrey;
    border-radius: 25px;
    padding: 30px;
    width: auto;
    height: auto;
}

.rcorners {
    background: lightgrey;
    border-radius: 25px;
    /*border:black solid 8px;*/
    padding: 20px;
    width: auto;
    height: auto;
}

.round-corners-16 {
    border:#E1E2E7 solid 2px;
    border-radius: 16px;
    background: #ffffff;
}

.off{
    background: #ff8d96;


}
.on {
    background: #42ff7e;
}

.center-align {
    text-align: center;
}

.box-wrap {
    border: solid 1px #bbbbbb;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: -2px 2px 3px -3px rgba(0,0,0,1);
}

.box-wrap2 {
    border: solid 1px #bbbbbb;
    background: #fff;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    min-height: 125px;
    box-shadow: -2px 2px 3px -3px rgba(0,0,0,1);
}

.heading-placer {
    position: relative;
    top:25px;
    left: 15px;
    background-color: #ffffff;
}

.databaseSelection {
    min-width: 600px;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }

.md-button.md-fab.md-success:not([disabled]){
    background-color:#5cb85c;
}

.md-button.md-fab.md-success:not([disabled]):hover {
    background-color:#5cb85c;
}

.importContainer {
    min-width: 800px;
}

.connectionContainer {
    width: 400px;
}

.editConnectionContainer {
    min-width: 600px;
}

.successStatusBar {
    position: relative;
    margin-left:-16px;
    top: 0px;
    left: 0px;
    width: 10px;
    min-height: 80px;
    height:95%;
    background-color:green;
    margin-right:10px;
    border:solid 1px white;
}
.errorStatusBar {
    position: relative;
    margin-left:-16px;
    top: 0px;
    left: 0px;
    width: 10px;
    min-height: 80px;
    height:95%;
    background-color: #d80502;
    margin-right:10px;
    border:solid 1px white;
}

.statusContainer {
    border:solid 1px #d1d1d1;
    box-shadow: -2px 2px 3px -3px rgba(0,0,0,1);
}

.statusWarningMessage {
    font-size: 0.75em;
    font-style: italic;
    color: #f74d20;
}

.noToolTipAnimation {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    transition: 0s !important;
    transform-origin: 50% 50% 0 !important;
}

.showErrorMessages {
    opacity: 1 !important;
    margin-top: 0px !important;
}