#registeredConnections .registeredConnection .thumbnail, #allDatabaseTypes .databaseType .thumbnail {
  background-color: white;
  text-align: center;
  padding: 20px;
}

#registeredConnections .registeredConnection .thumbnail > img, #allDatabaseTypes .databaseType .thumbnail > img {
  margin-bottom: 12px;
}

#registeredConnections .registeredConnection .thumbnail dl dd, #allDatabaseTypes .databaseType .thumbnail dl dd {
  margin-left: 0;
}

#advancedConfig {
    display: none;
}

#advancedConfig.form-actions {
    padding-left: 0;
}

#advancedConfigToggle {
    cursor: pointer;
}

div.box-1 {
    padding: 0;
}

div.box-1 form {
    margin-bottom: 0;
}

form legend {
    padding-left: 20px;
}

.form-actions {
    margin-bottom: 0;
}

#connectionForm .form-actions {
    margin-top: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.grcorners {
    background: lightgrey;
    border-radius: 25px;
    padding: 30px;
    width: auto;
    height: auto;
}

.rcorners {
    background: lightgrey;
    border-radius: 25px;
    /*border:black solid 8px;*/
    padding: 20px;
    width: auto;
    height: auto;
}

.box { display:inline-block;
    line-height: 0; }

.box, .box:before {
    border: 8px solid #fff;
    border-radius: 16px;
    position: relative;
    z-index: 1; }

.box:before {
    display: block;
    content: '';
    position: absolute;
    top: -8px; left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: 2; }

.off{
    border:1px solid red;
    background: #ff8d96;


}
.on {
    border: 1px solid green;
    background: #42ff7e;
}

.center-align {
    text-align: center;
}


