.side-panel {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 66%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1045;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    border-right: none;
    border-bottom: none;
    overflow: hidden;
    box-sizing: border-box;
}

.side-panel header {
    position: absolute;
    color: #eeeeee ;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    padding: 22px 13px;
    z-index: 9;
    background-color: #535E71 ;
    border-bottom: 1px solid #cccccc ;
}

.side-panel header h4 {
    margin: 0px;
}

.side-panel-body {
    height: 100%;
}

.side-panel footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    padding: .8em 1em 0;
    z-index: 2;
    background-color: #fff;
    border-top: 1px solid #cccccc;
    text-align: right;
}

.side-panel-closed {
    right: -100%;
}

.side-panel.side-panel-open {
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.side-panel-focused {
    z-index: 20;
}

.side-panel-body-content {
    position: fixed;
    top: 78px;
    margin-left: auto;
    margin-right: auto;
    bottom: 70px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .side-panel-body-content {
        top: 103px;
        width: 75%;
    }
}

.side-panel-nav a {
    color: #fff;
}

.side-panel-element {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    width: 200px;
    height: 100%;
    margin-bottom: 10px;
}

.side-panel-element img {
    width: 80px;
    height: 80px;
}

.side-panel-element span {
    display: block;
    white-space: nowrap;
}

.side-panel-nav>li>a:hover {
    background: rgba(193, 204, 224, 0.85);
    border-color: #B0BBCF #B0BBCF #DDDDDD #B0BBCF;
}