.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width:100px;
    min-height:100px;
    z-index: 99;
    background-color: rgba(0,0,0,0.3); /*dim the background*/
    overflow: hidden;
}

.spinner{
    z-index:100;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}