.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width:100px;
    min-height:100px;
    z-index: 100;
    background-color: rgba(0,0,0,0.3); /*dim the background*/
}

.spinner{
    z-index:100;
    position: absolute;
    top: calc((100vh/2) - 25px); left: calc((100vw/2) - 25px);
}