<dc-spinner spinner-mode="cc.spinnerOptions.mode" show="cc.spinnerOptions.showSpinner"></dc-spinner>
<md-list>
   <md-list-item>
       <md-content class="rcorners" layout-padding layout="row" ng-class="[{'on': cc.connection.isConnected, 'off': !cc.connection.isConnected}]">

           <div class="round-corners-16 connectionContainer" layout="row">
               <div flex="100">
                   <div layout="row">
                       <div flex="100" class="center-align">
                           <md-checkbox aria-label="Checkbox"
                                        name="{{cc.connection.id}}"
                                        ng-model="cc.connection.export"
                                        ng-change="cc.exportValueChanged()"
                                        ng-true-value="true"
                                        ng-false-value="false"
                                        class="md-primary pull-left" >
                           </md-checkbox>
                           <img ng-src="{{cc.imageUrl}}" width="211" height="60">
                       </div>
                   </div>
                   <div layout="row" layout-margin layout-padding class="box-wrap">
                       <div layout layout-wrap>
                           <div flex="90" layout-padding>
                               <div class="md-list-item-text">
                                   <p><b>Connection Name:</b> <i>{{cc.connection.id}}</i></p>
                                   <p ng-if="cc.connection.databaseType=='MONGO'"><b>Database Name:</b> <i>{{cc.connection.dbName}}</i></p>
                                   <p ng-if="cc.connection.databaseType=='REDIS'"><b>Database Number:</b> <i>{{cc.connection.dbName}}</i></p>
                                   <p><b>Host:</b> <i>{{cc.connection.host}}</i></p>
                                   <p><b>Port:</b> <i>{{cc.connection.port}}</i></p>
                                   <span ng-if="cc.serverStatusAvailable()">
                                       <p><b>Uptime:</b> <i>{{cc.connection.uptime | momentFormatter : 'second' : 'fancy'}}</i></p>
                                       <p ng-if="cc.connection.dbVersion!=null"><b>Version:</b> <i>{{cc.connection.dbVersion}}</i></p>
                                   </span>
                                   <span ng-if="!cc.serverStatusAvailable()">
                                       <p><b class="statusWarningMessage" md-colors="{color: 'deep-orange-500'}">Server Statistics Unavailable</b></p>
                                   </span>
                               </div>
                           </div>
                           <div flex="10" layout-padding>
                               <md-button class="md-icon-button" ng-if="!cc.connection.isConnected" ng-click="cc.updateConnection(true)"><i class="fa fa-plug" aria-label="connect to database"></i>
                                   <md-tooltip md-direction="left">Connect</md-tooltip></md-button>
                               <md-button class="md-icon-button" ng-if="cc.connection.isConnected" ng-click="cc.updateConnection(false)"><i class="fa fa-chain-broken" aria-label="disconnect from database"></i>
                                   <md-tooltip md-direction="left">Disconnect</md-tooltip></md-button>
                               <md-button class="md-icon-button" ng-click="cc.editConnection($event)"><i class="fa fa-pencil-square-o" aria-label="edit connections details"></i>
                                   <md-tooltip md-direction="left">Edit Connection </md-tooltip></md-button>
                               <md-button class="md-icon-button" ng-disabled="!cc.serverStatusAvailable()" ng-click="cc.goToStatus()"><i class="fa fa-line-chart" aria-label="connection status"></i>
                                   <md-tooltip md-direction="left">Connection Stats</md-tooltip></md-button>
                               <md-button class="md-icon-button" ng-click="cc.openDeleteConnectionDialog($event)"><i class="fa fa-trash-o" aria-label="delete connection"></i>
                                   <md-tooltip md-direction="left">Delete Connection </md-tooltip></md-button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </md-content>
   </md-list-item>
</md-list>
