<md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span message-key="dc_databaseConnector.label.createConnection" ng-if="cpc.databaseTypeSelected"></span>
                <span message-key="dc_databaseConnector.label.selectDatabaseType" ng-if="!cpc.databaseTypeSelected"></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="databaseSelection">
            <div ng-if="!cpc.databaseTypeSelected">
                <div layout layout-wrap>
                    <div ng-repeat="(i, connectorMetaData) in cpc.databaseTypes" flex="50">
                        <md-button class="md-button" layout-margin ng-click="cpc.setSelectedDatabaseType(connectorMetaData.databaseType)">
                            <img ng-src="{{cpc.images[connectorMetaData.databaseType]}}">
                        </md-button>
                    </div>
                </div>
            </div>
            <div id="createConnectionContent"></div>
        </md-dialog-content>
</md-dialog>