<md-dialog class="importContainer">
    <form >
        <md-toolbar>
            <div class="md-toolbar-tools">
                Import Results
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <div ng-repeat="databaseType in icpc.databaseTypes">
                <div layout="row" layout-wrap ng-if="icpc.hasResults(databaseType)">
                    <div flex="100">
                        <h4>Imported {{databaseType}} connections</h4>
                    </div>
                    <div flex="100">
                        <div layout-padding ng-repeat="successConnections in icpc.importResults[databaseType].success">
                            <div layout="row">
                                <div flex="33">
                                    {{successConnections.identifier}}
                                </div>
                                <div flex="33">
                                    successful
                                </div>
                            </div>
                        </div>
                        <div layout-padding ng-repeat="failedConnections in icpc.importResults[databaseType].failed">
                            <div layout="row">
                                <div flex="33">
                                    {{failedConnections.identifier}}
                                </div>
                                <div flex="33">
                                    {{failedConnections.statusMessage}}
                                </div>
                                <div flex="33">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>