version: 2.1

orbs:
  docker: circleci/docker@0.5.20
  jq: circleci/jq@2.2.0
  # IMPORTANT: When creating a module, use a fix version of the orb, not dev:alpha
  # Find orbs release versions here: https://circleci.com/developer/orbs/orb/jahia/jahia-modules-orb
  jahia-modules-orb: jahia/jahia-modules-orb@0.3.1

# Parameters are available across the entire config file and can be used with this syntax: << pipeline.parameters.THE_PARAMETER >>
# Avoid using project-specific variables in the jobs or steps.
# Instead, declare those as pipeline parameters (At the top of the config file).
# This eases portability of the config file across different modules
parameters:
  TESTS_MANIFEST: # Manifest to be executed by the test container when triggered from an API call
    type: string
    default: ""
  MODULE_ID:
    type: string
    default: "database-connector"
  TESTRAIL_PROJECTNAME:
    type: string
    default: "Database Connector"
  TESTRAIL_MILESTONE:
    type: string
    default: "Default"
  GITHUB_SLUG:
    type: string
    default: "jahia/database-connector"
  PRIMARY_RELEASE_BRANCH:
    type: string
    default: "main" # main or master ? set the branch for the main release
  JAHIA_IMAGE:
    type: string
    default: "jahia/jahia-ee-dev:8-SNAPSHOT"
  RELEASE_ID:
    type: string
    default: ""
  RELEASE_VERSION:
    type: string
    default: ""
  IS_RELEASE:
    type: boolean
    default: false
  IS_ROLLBACK:
    type: boolean
    default: false
  IS_MANUAL_TESTRUN: # Was the workflow triggered by an API call ?
    type: boolean
    default: false
  SHOULD_SKIP_ARTIFACTS:
    type: boolean
    default: true
  SHOULD_SKIP_TESTRAIL:
    type: boolean
    default: true
  SHOULD_SKIP_NOTIFICATIONS:
    type: boolean
    default: true
  SHOULD_SKIP_ZENCREPES:
    type: boolean
    default: false
  UPDATE_SIGNATURE:
    type: boolean
    default: false
  SSH_KEY_FINGERPRINT:
    type: string
    default: "4:ed:b7:f9:49:6b:06:89:85:ca:4a:b3:6e:fe:ec:2d"

workflows:
  # On code change is executed each time new code is pushed to a branch
  # Current project configuration in circleci only builds on PR + main, so effectively this is only being executed
  on-code-change:
    unless:
      or:
        - << pipeline.parameters.IS_RELEASE >>
        - << pipeline.parameters.IS_ROLLBACK >>
        - << pipeline.parameters.UPDATE_SIGNATURE >>
        - << pipeline.parameters.IS_MANUAL_TESTRUN >>
    jobs:
      - jahia-modules-orb/initialize
      - jahia-modules-orb/update-signature:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/initialize
          pre-steps:
            - jahia-modules-orb/update-signature-prestep
          ssh_key_fingerprints:  << pipeline.parameters.SSH_KEY_FINGERPRINT >>
      - jahia-modules-orb/static-analysis:
          requires:
            - jahia-modules-orb/initialize
          auditci_level: high
      - jahia-modules-orb/build:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/initialize
            # - jahia-modules-orb/static-analysis
            - jahia-modules-orb/update-signature
      - jahia-modules-orb/sonar-analysis:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/build
          primary_release_branch: << pipeline.parameters.PRIMARY_RELEASE_BRANCH >>
          github_slug: << pipeline.parameters.GITHUB_SLUG >>
      - jahia-modules-orb/publish:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/build
          filters:
            branches:
              only:
                - << pipeline.parameters.PRIMARY_RELEASE_BRANCH >>
      - jahia-modules-orb/integration-tests-machine:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/build
          jahia_image: jahia/jahia-ee-dev:8-SNAPSHOT
          tests_manifest: provisioning-manifest-build.yml
          module_id: << pipeline.parameters.MODULE_ID >>
          testrail_project: << pipeline.parameters.TESTRAIL_PROJECTNAME >>
          testrail_milestone: << pipeline.parameters.TESTRAIL_MILESTONE >>

  # The on-release workflow was created to handle the full release lifecycle after creating a release using GitHub
  # https://github.com/Jahia/sandbox/releases
  # The release is first created using the "pre-release" tag and a pipeline is triggered from a GitHub action
  # This pipeline perform the following action:
  # - Delete the tag created by GitHub (unnecessary)
  # - Run mvn release:prepare
  # - Generate the changelog using auto (https://www.npmjs.com/package/auto)
  # - Run mvn release:perform
  on-release:
    when: << pipeline.parameters.IS_RELEASE >>
    jobs:
      - jahia-modules-orb/initialize
      - jahia-modules-orb/generate-changelog:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/initialize
          ssh_key_fingerprints: << pipeline.parameters.SSH_KEY_FINGERPRINT >>
      - jahia-modules-orb/release:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/generate-changelog
          module_id: << pipeline.parameters.MODULE_ID >>
          github_slug: << pipeline.parameters.GITHUB_SLUG >>
          release_id: << pipeline.parameters.RELEASE_ID >>
          release_version: << pipeline.parameters.RELEASE_VERSION >>
          primary_release_branch: << pipeline.parameters.PRIMARY_RELEASE_BRANCH >>
          ssh_key_fingerprints:  << pipeline.parameters.SSH_KEY_FINGERPRINT >>
      - jahia-modules-orb/update-signature:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/release
          ssh_key_fingerprints: << pipeline.parameters.SSH_KEY_FINGERPRINT >>
      - wait-for-approval:
          type: approval
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/release
      - jahia-modules-orb/release-publication:
          context: QA_ENVIRONMENT
          requires:
            - wait-for-approval
          module_id: << pipeline.parameters.MODULE_ID >>
          release_version: << pipeline.parameters.RELEASE_VERSION >>

  # The on-rollback workflow was created to handle release rollback when a release has been deleted from Github
  # The rollback pipeline/job performs the following action:
  # - restore rollback artifact cache created from the release job
  # - Run mvn:rollback
  # - Delete github tag associated with the release
  on-rollback:
    when: << pipeline.parameters.IS_ROLLBACK >>
    jobs:
      - jahia-modules-orb/release-rollback:
          context: QA_ENVIRONMENT
          ssh_key_fingerprints: << pipeline.parameters.SSH_KEY_FINGERPRINT >>
          release_id: << pipeline.parameters.RELEASE_ID >>
          release_version: << pipeline.parameters.RELEASE_VERSION >>
      - jahia-modules-orb/release-cancellation:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/release-rollback
          module_id: << pipeline.parameters.MODULE_ID >>
          pipeline_id: << pipeline.id >>
          release_version: << pipeline.parameters.RELEASE_VERSION >>

  # The on-signature-update workflow was created to handle the signage of modules in case it needs to be done manually.
  # https://github.com/Jahia/sandbox#manually-updating-signature-via-command-line
  # The pipeline performs the following action:
  # - Check the commit message that it contains [ci sign], [sign ci] or [jahia update signature]
  # - Downloads the keymaker cli (version 2.0)
  # - Obtain the new signature using the keymaker cli
  # - Update the pom.xml
  # - Push changes back to github
  on-signature-update:
    when: << pipeline.parameters.UPDATE_SIGNATURE >>
    jobs:
      - jahia-modules-orb/update-signature:
          context: QA_ENVIRONMENT
          pre-steps:
            - jahia-modules-orb/update-signature-prestep
          ssh_key_fingerprints:  << pipeline.parameters.SSH_KEY_FINGERPRINT >>

  # The manual-run workflow was created to allow the triggering of an integration testing run using CircleCI pipeline API
  manual-run:
    when: << pipeline.parameters.IS_MANUAL_TESTRUN >>
    jobs:
      - jahia-modules-orb/initialize
      - jahia-modules-orb/integration-tests-machine:
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/initialize
          jahia_image: << pipeline.parameters.JAHIA_IMAGE >>
          tests_manifest: << pipeline.parameters.TESTS_MANIFEST >>
          module_id: << pipeline.parameters.MODULE_ID >>
          testrail_project: << pipeline.parameters.TESTRAIL_PROJECTNAME >>
          testrail_milestone: << pipeline.parameters.TESTRAIL_MILESTONE >>
          should_skip_artifacts: << pipeline.parameters.SHOULD_SKIP_ARTIFACTS >>
          should_skip_testrail: << pipeline.parameters.SHOULD_SKIP_TESTRAIL >>
          should_skip_notifications: << pipeline.parameters.SHOULD_SKIP_NOTIFICATIONS >>
          should_skip_zencrepes: << pipeline.parameters.SHOULD_SKIP_ZENCREPES >>

  # The objective of nightly runs is to ensure the codebase still passes tests:
  # - With the latest releases version of Jahia
  # - With the current snapshot of Jahia
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - << pipeline.parameters.PRIMARY_RELEASE_BRANCH >>
    jobs:
      - jahia-modules-orb/initialize
      - jahia-modules-orb/integration-tests-machine:
          name: Nightly-<< matrix.jahia_image >>
          context: QA_ENVIRONMENT
          requires:
            - jahia-modules-orb/initialize
          matrix:
            parameters:
              jahia_image: ["jahia/jahia-ee:8", "jahia/jahia-ee-dev:8-SNAPSHOT"]
              tests_manifest: ["provisioning-manifest-snapshot.yml"]
              module_id: ["<< pipeline.parameters.MODULE_ID >>"]
              testrail_project: ["<< pipeline.parameters.TESTRAIL_PROJECTNAME >>"]
              testrail_milestone: ["<< matrix.jahia_image >>"]
              should_skip_artifacts: [true]
              should_skip_testrail: [false]
              should_skip_notifications: [false]
              should_skip_zencrepes: [false]


version: 2.1
orbs:
  docker: circleci/docker@0.5.20
  slack: circleci/slack@3.4.2
  node: circleci/node@4.0.0

# Parameters are available to all elements of config.yml, these are accessible using `pipeline.parameters.PARAMETER`
parameters:
  slack_channel:
    type: string
    default: '#cci-database-connector'
  TESTRAIL_PROJECTNAME:
    type: string
    default: 'Database Connector'
  PRIMARY_RELEASE_BRANCH:
    type: string
    default: 'master'

references:
  workdir: &workdir
    working_directory: ~/source

  persist-workspace: &persist-workspace
    persist_to_workspace:
      root: ~/source
      paths:
        - .

  attach-workspace: &attach-workspace
    attach_workspace:
      at: .

jobs:
  # The initialize clone and mvn install
  initialize:
    <<: *workdir
    docker:
      - image: cimg/node:14.15
    steps:
      - checkout
      - run: npm install
      - *persist-workspace

  build:
    <<: *workdir
    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-
      - run: mvn -s .circleci/.circleci.settings.xml clean install
      # Built module is stored in: /home/circleci/source/target/database-connector-SNAPSHOT.jar
      - save_cache:
          paths:
            - ~/.m2
          key: v2-dependencies-{{ checksum "pom.xml" }}
      - run:
          name: Prepare artifacts
          command: |
            mkdir /tmp/artifacts/
            cp /home/circleci/source/target/*.jar /tmp/artifacts/
      - store_artifacts:
          path: /tmp/artifacts/
      - *persist-workspace

  lint:
    docker:
      - image: circleci/node:14.3
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ .Branch }}-{{ checksum "tests/yarn.lock" }}
            - yarn-packages-{{ .Branch }}
            - yarn-packages-master
            - yarn-packages-
      - run:
          name: Install Dependencies
          command: |
            cd tests
            yarn install
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ .Branch }}-{{ checksum "tests/yarn.lock" }}
          paths:
            - tests/node_modules/
      - run:
          name: Check code formatting
          command: |
            cd tests
            yarn lint

  test:
    <<: *workdir
    machine:
      docker_layer_caching: true    # default - false
    parameters:
      TESTRAIL_MILESTONE:
        type: string
        default: 'Jahia-Latest'
      SKIP_TESTRAIL:
        type: string 
        default: "" 
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-
      - run:
          name: Docker login
          command: |
            echo "$DOCKERHUB_LOGIN"
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_LOGIN" --password-stdin
      - run:
          name: Execute tests
          command : |
            set -e
            cd tests
            docker-compose up --abort-on-container-exit
            docker logs e2e-tests | grep -w "All specs passed!"
          environment:
            PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
            MANIFEST: "warmup-manifest-snapshot.yml"
      - store_artifacts:
          path: ./tests/results
      - run:
          name: Publish results to testrail
          when: always
          command: |
            set +e
            if [ "<< parameters.SKIP_TESTRAIL >>" != "true" ] || [ "$CIRCLE_BRANCH" = "<< pipeline.parameters.PRIMARY_RELEASE_BRANCH >>" ]; then            
              export NVM_DIR="/opt/circleci/.nvm"
              [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
              nvm install v12
              nvm alias default v12
              npm install -g jahia-reporter
              echo "Sending testrail report"
              jahia-reporter testrail \
                --testrailUsername=$TESTRAIL_USERNAME \
                --testrailPassword=$TESTRAIL_PASSWORD \
                --sourcePath="./tests/results" \
                --sourceType="json" \
                --projectName="<< pipeline.parameters.TESTRAIL_PROJECTNAME >>" \
                --milestone="<< parameters.TESTRAIL_MILESTONE >>" \
                --defaultRunDescription="This test was executed on circleci, $CIRCLE_BUILD_URL"
              fi
      - *persist-workspace

  # publish to nexus only after merging to master
  publish:
    <<: *workdir
    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v2-dependencies-2-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-
      - run: mvn -s .circleci/.circleci.settings.xml clean install deploy
      - slack/status:
          channel: << pipeline.parameters.slack_channel >>
          fail_only: true
          include_project_field: true
          include_visit_job_action: true
          mentions: "channel"

workflows:
  version: 2
  on-code-change:
    jobs:
      - initialize
      - build:
          context: QA_ENVIRONMENT
          requires:
            - initialize
      - lint:
          requires:
            - build
      - test:
          context: QA_ENVIRONMENT
          SKIP_TESTRAIL: "true"
          requires:
            - build
      - publish:
          context: QA_ENVIRONMENT
          requires:
            - build
          filters:
            branches:
              only:
                - << pipeline.parameters.PRIMARY_RELEASE_BRANCH >>
  nightly:
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - << pipeline.parameters.PRIMARY_RELEASE_BRANCH >>
    jobs:
      - initialize
      - build:
          context: QA_ENVIRONMENT
          requires:
            - initialize
      - test:
          context: QA_ENVIRONMENT
          SKIP_TESTRAIL: "false"
          requires:
            - build
