version: 2.1
orbs:
  docker: circleci/docker@0.5.20
  slack: circleci/slack@3.4.2

# Parameters are available to all elements of config.yml, these are accessible using `pipeline.parameters.PARAMETER`
parameters:
  slack_channel:
    type: string
    default: '#cci-database-connector'

references:
  workdir: &workdir
    working_directory: ~/source

  persist-workspace: &persist-workspace
    persist_to_workspace:
      root: ~/source
      paths:
        - .

  attach-workspace: &attach-workspace
    attach_workspace:
      at: .

jobs:
  # The initialize clone and mvn install
  initialize:
    <<: *workdir
    docker:
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - checkout
      - *persist-workspace

  build:
    <<: *workdir
    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: mvn -s .circleci/.circleci.settings.xml clean install
      # Built module is stored in: /home/circleci/source/target/database-connector-SNAPSHOT.jar
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run:
          name: Prepare artifacts
          command: |
            mkdir /tmp/artifacts/
            cp /home/circleci/source/target/*.jar /tmp/artifacts/
      - store_artifacts:
          path: /tmp/artifacts/
      - *persist-workspace

  lint:
    docker:
      - image: circleci/node:14.3
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ .Branch }}-{{ checksum "tests/yarn.lock" }}
            - yarn-packages-{{ .Branch }}
            - yarn-packages-master
            - yarn-packages-
      - run:
          name: Install Dependencies
          command: |
            cd tests
            yarn install
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ .Branch }}-{{ checksum "tests/yarn.lock" }}
          paths:
            - tests/node_modules/
      - run:
          name: Check code formatting
          command: |
            cd tests
            yarn lint

  test:
    <<: *workdir
    machine:
      docker_layer_caching: false    # default - false
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: Docker login
          command: |
            echo "$DOCKER_REGISTRY_USERNAME"
            echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USERNAME" --password-stdin
      - run:
          name: Execute tests
          command : |
            set -e
            cd tests
            docker-compose up --abort-on-container-exit
            docker logs e2e-tests | grep -w "All specs passed!"
          environment:
            PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
            MANIFEST: "warmup-manifest-snapshot.yml"
      - run:
          when: always
          name: Testrail reporter
          command : |
            set -e
            docker pull vladislavradan/testrail_cypress_reporter
            docker run -v tests:/tmp/tests -e TESTRAIL_URL=$TESTRAIL_URL -e TESTRAIL_USERNAME=$TESTRAIL_USERNAME -e TESTRAIL_PASSWORD=$TESTRAIL_PASSWORD vladislavradan/testrail_cypress_reporter
          https://jahia.testrail.net:
            TESTRAIL_URL: $TESTRAIL_URL
            TESTRAIL_USERNAME: $TESTRAIL_USERNAME
            TESTRAIL_PASSWORD: $TESTRAIL_PASSWORD
      - store_artifacts:
          path: ./tests/results
      - *persist-workspace

  # publish to nexus only after merging to master
  publish:
    <<: *workdir
    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v1-dependencies-2-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: mvn -s .circleci/.circleci.settings.xml clean install deploy
      - slack/status:
          channel: << pipeline.parameters.slack_channel >>
          fail_only: true
          include_project_field: true
          include_visit_job_action: true
          mentions: "channel"

workflows:
  version: 2
  on-code-change:
    jobs:
      - initialize
      - build:
          context: QA_ENVIRONMENT
          requires:
            - initialize
      - lint:
          requires:
            - build
      - test:
          context: QA_ENVIRONMENT
          requires:
            - build
      - publish:
          context: QA_ENVIRONMENT
          requires:
            - build
          filters:
            branches:
              only:
                - master
  nightly:
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - initialize
      - build:
          context: QA_ENVIRONMENT
          requires:
            - initialize
      - test:
          context: QA_ENVIRONMENT
          requires:
            - build
