version: 2.1
orbs:
  docker: circleci/docker@0.5.20
  slack: circleci/slack@3.4.2

# Parameters are available to all elements of config.yml, these are accessible using `pipeline.parameters.PARAMETER`
parameters:
  slack_channel:
    type: string
    default: '#cci-database-connector'
  testframework_directory:
    type: string
    default: 'tests/'

references:
  workdir: &workdir
    working_directory: ~/source

  persist-workspace: &persist-workspace
    persist_to_workspace:
      root: ~/source
      paths:
        - .

  attach-workspace: &attach-workspace
    attach_workspace:
      at: .

jobs:
  # The initialize clone and mvn install
  initialize:
    <<: *workdir
    docker:
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - checkout
      - *persist-workspace

  build:
    <<: *workdir
    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      # - run: mvn -s .circleci/.circleci.settings.xml clean install
      # Built module is stored in: /home/circleci/source/target/database-connector-SNAPSHOT.jar
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run:
          name: Prepare artifacts
          command: |
            mkdir /tmp/artifacts/
            cp /home/circleci/source/target/*.jar /tmp/artifacts/
      - store_artifacts:
          path: /tmp/artifacts/
      - *persist-workspace

    # publish to nexus only after merging to master
  publish:
    <<: *workdir
    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - *attach-workspace
      - restore_cache:
          keys:
            - v1-dependencies-2-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: mvn -s .circleci/.circleci.settings.xml clean install deploy
      - slack/status:
          channel: << pipeline.parameters.slack_channel >>
          fail_only: true
          include_project_field: true
          include_visit_job_action: true
          mentions: "channel"

# This involved building containers or fetching previously built containers and starting docker-compose with those
  warmup_on_machine:
    description: 'In a machine environment, build and commit docker images'
    parameters:
      # Should we be building the container, even though the manifest didn't change?
      # Note: By default, if the manifest changes, containers are rebuilt
      force_build:
        type: boolean
        default: false
      # Manifest file to use for the build
      manifest:
        type: string
        default: warmup-manifest-build.yml
    steps:
      - run:
          name: Printing job parameters and default host values
          command: |
            echo "build: << parameters.force_build >>"
            echo "manifest: << parameters.manifest >>"
            node -v
            npm -v
      - run:
          name: Update packages list and install jq, build-essential, libssl-dev
          command: |
            sudo apt-get update
            sudo apt-get install jq build-essential libssl-dev
      - run:
          # Instructions found here: https://discuss.circleci.com/t/nvm-does-not-change-node-version-on-machine/28973/14
          name: Prepare NVM
          command: |
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo ' [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run:
          name: Install latest NVM
          command: |
            nvm install v12
            nvm alias default v12
      - run: |
          node -v
          npm -v
      - run:
          name: Install jahia-cli & yarn
          command: npm install -g jahia-cli
      - run:
          name: Fetch docker image names, force_build = << parameters.force_build >>
          command: |
            cd << pipeline.parameters.testframework_directory >>
            if [ "<< parameters.force_build >>" == "true" ]; then
              echo "Force building new containers"
              jahia-cli docker:getimgname -b --manifest=./<< parameters.manifest >> --output=./docker-images.json
            else
              echo "Using existing containers (if they actually exists on docker hub, otherwise build)"
              jahia-cli docker:getimgname --manifest=./<< parameters.manifest >> --output=./docker-images.json
            fi
      - run:
          name: Docker login
          command: |
            echo "$DOCKER_REGISTRY_USERNAME"
            echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USERNAME" --password-stdin
      - run:
          name: Spin-up docker images (docker-compose up)
          command: |
            cd << pipeline.parameters.testframework_directory >>
            docker-compose up -d
      - run:
          name: Wait for Jahia to be alive
          command: jahia-cli alive
      - run:
          name: Configure Jahia (Conditional), check index, then wait for 30s before moving to the next step
          command: |
            cd << pipeline.parameters.testframework_directory >>
            if [ "$JAHIA_ACTION" = "build" ]; then
              sed -i -e "s/NEXUS_USERNAME/${NEXUS_USERNAME}/g" ./<< parameters.manifest >>
              sed -i -e "s/NEXUS_PASSWORD/${NEXUS_PASSWORD}/g" ./<< parameters.manifest >>
              jahia-cli manifest:run --manifest=./<< parameters.manifest >>
            fi

  integration_tests:
    <<: *workdir
    machine:
      image: ubuntu-1604:201903-01
    # Available types: medium, large, xlarge, 2xlarge https://circleci.com/docs/2.0/configuration-reference/#machine-executor-linux
    resource_class: xlarge
    parameters:
      # Should we be building the container, even though the manifest didn't change?
      # Note: By default, if the manifest changes, containers are rebuilt
      force_build:
        type: boolean
        default: false
      # Manifest file to use for the build
      manifest:
        type: string
        default: warmup-manifest-build.yml
      # Milestone used in Testrail
      # testrail_milestone:
      #   type: string
      #   default: Default
    steps:
      - *attach-workspace
      - warmup_on_machine:
          force_build: << parameters.force_build >>
          manifest: << parameters.manifest >>
      - run:
          name: Yarn
          command: |
            cd << pipeline.parameters.testframework_directory >>
            yarn
      - run:
          name: Run tests
          command: |
            cd << pipeline.parameters.testframework_directory >>
            mkdir -p ./results/$TAG/screenshots ./results/$TAG/videos
            yarn e2e
      - store_test_results:
          path: ./results

workflows:
  version: 2
  on-code-change:
    jobs:
      - initialize
      - build:
          context: QA_ENVIRONMENT
          requires:
            - initialize
      - publish:
          context: QA_ENVIRONMENT
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - integration_tests:
          name: 'Int. Tests - Jahia Latest - Built modules'
          requires:
            - build
            - initialize
          context: QA_ENVIRONMENT
          force_build: true
          manifest: warmup-manifest-build.yml