<md-content>
    <md-toolbar layout-padding>
        <div class="md-toolbar-tools">
            <h2 message-key="dc_databaseConnector.label.statistics.connectionStatus"></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="csc.goToConnections()">
                <md-icon class="md-secondary"><i class="material-icons">home</i></md-icon>
                <md-tooltip class="noToolTipAnimation"
                            md-direction="top"
                            md-delay="500">
                    <span message-key="dc_databaseConnector.label.goBack"></span>
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="statusContainer">
        <dc-connection-statistics-overview database-type="csc.connection.databaseType"></dc-connection-statistics-overview>
        <md-divider></md-divider>
        <div id="statusCompiler" layout style="background-color: #f2f2f2" layout-wrap layout-padding ng-switch="csc.connection.databaseType">
            <!--<div flex="100">-->
                <!--<div class="box-wrap">-->
                    <!--<connection-memory-usage chart-height="'320px'" chart-width="'100%'" ng-switch-when="MONGO"></connection-memory-usage>-->
                    <!--<redis-connection-memory-usage chart-height="'350px'" chart-width="'100%'" ng-switch-when="REDIS"></redis-connection-memory-usage>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div flex="50">-->
                <!--<div class="box-wrap">-->
                    <!--<connection-network-traffic chart-height="'320px'" chart-width="'100%'" ng-switch-when="MONGO"></connection-network-traffic>-->
                    <!--<redis-connection-network-traffic chart-height="'320px'" chart-width="'100%'" ng-switch-when="REDIS"></redis-connection-network-traffic>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div flex="50">-->
                <!--<div class="box-wrap">-->
                    <!--<connections-available chart-height="'320px'" chart-width="'100%'" ng-switch-when="MONGO"></connections-available>-->
                    <!--<redis-connections-available chart-height="'320px'" chart-width="'100%'" ng-switch-when="REDIS"></redis-connections-available>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div flex="100">-->
                <!--<div class="box-wrap">-->
                    <!--<connection-operation-counters chart-height="'320px'" chart-width="'100%'" ng-switch-when="MONGO"></connection-operation-counters>-->
                    <!--<redis-cpu-usage chart-height="'320px'" chart-width="'100%'" ng-switch-when="REDIS"></redis-cpu-usage>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</md-content>