<md-content>
    <md-toolbar layout-padding>
        <div class="md-toolbar-tools dc-toolbar">
            <h2 flex message-key="dc_databaseConnector.label.statistics.connectionStatus"></h2>
            <md-button class="md-icon-button" ng-click="csc.goToConnections()">
                <md-icon class="md-secondary"><i class="material-icons">home</i></md-icon>
                <md-tooltip class="noToolTipAnimation"
                            md-direction="top"
                            md-delay="500"
                            message-key="dc_databaseConnector.label.goBack">
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="statusContainer">
        <div id="statusCompiler" layout style="background-color: #f2f2f2" layout-wrap layout-padding ng-switch="csc.connection.databaseType">
        </div>
    </div>
</md-content>