<toaster-container
        toaster-options="{'time-out': 6000, 'close-button':true, 'animation-class': 'toast-top-right', 'prevent-duplicates': true}"></toaster-container>
<md-toolbar layout-padding>
    <div class="md-toolbar-tools">
        <h2><span>Connections</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="coc.createConnection($event)">
            <md-icon>
                <i class="fa fa-plus fa-2x" aria-label="create a new connection"></i>
            </md-icon>
            <md-tooltip md-direction="left">Create Connection</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" type="file" ngf-select="coc.importConnections($file)">
            <md-icon>
                <i class="fa fa-upload fa-2x" aria-label="import a connection"></i>
            </md-icon>
            <md-tooltip md-direction="top">Import Connection</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="coc.exportSelectedConnections()" ng-disabled="coc.isExportDisabled()">
            <md-icon>
                <i class="fa fa-download fa-2x" aria-label="export a connection"></i>
            </md-icon>
            <md-tooltip md-direction="top">Export Connection</md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<div layout="row" layout-wrap layout-margin>
    <div flex-auto="33" ng-repeat="connection in coc.connections">
        <dc-connection index="{{$index}}" export-connections="coc.exportConnections" connection="connection"></dc-connection>
    </div>
</div>

<input type="file" ng-show="false" id="importFileSelector">
<button id="performImport" ng-click="coc.importConnections(null, 'test')" ng-show="false"></button>