<toaster-container
        toaster-options="{'time-out': 6000, 'close-button':true, 'animation-class': 'toast-top-right', 'prevent-duplicates': true}"></toaster-container>
<div layout="row"  >
    <span class="md-headline center-align" flex="100">Connections: </span>
</div>
<div layout="row">
    <md-button class="md-raised md-primary" ng-click="coc.createConnection($event)"> <i class="fa fa-plus" aria-label="create a new connection"> Add new connection </i> </md-button>
</div>

<div ng-repeat="row in coc.connections" layout="row">

    <div flex="50" ng-repeat="connection in row">
        <dc-mongo-connection connection="connection"></dc-mongo-connection>
    </div>

</div>