<dc-spinner spinner-mode="cmcc.spinnerOptions.mode" show="cmcc.spinnerOptions.showSpinner"></dc-spinner>
<md-content layout-padding>
    <form name="mongoForm">
        <md-checkbox ng-model="cmcc.connection.isConnected" aria-label="Automatic startup after Creation"
                     ng-true-value="true" ng-false-value="false"
                     class="md-warn md-align-top-left" flex>
            <span class="ipsum">
              Enable connection
            </span>
        </md-checkbox>

        <md-button class="md-fab md-mini md-success pull-right"
                   ng-click="cmcc.testMongoConnection()"
                   ng-disabled="mongoForm.$invalid"
                   uib-tooltip="Test connection">
            <i class="fa fa-lg fa-check-circle-o"></i>
        </md-button>

        <md-input-container class="md-block" flex-gt-sm="">
         <label>Host</label>
            <input required="" ng-minlength="4" md-maxlength="15"  name="host" ng-model="cmcc.connection.host">

            <div ng-messages="mongoForm.host.$error">
                <div ng-message-exp="validationName" ng-repeat="(validationName, validationMessage) in cmcc.validations.host">{{validationMessage}}</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Port</label>
            <input md-maxlength="5" required ng-pattern="/[0-9]+/" name="port" ng-model="cmcc.connection.port" length-parser length-parser-max="5" range-parser range-max-value="65535">

            <div ng-messages="mongoForm.port.$error" role="alert" style="color:maroon">
                <div ng-message-exp="validationName" ng-repeat="(validationName, validationMessage) in cmcc.validations.port">{{validationMessage}}</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Connection Name (id)</label>
            <input md-maxlength="30" name="id" required  ng-pattern="/^[a-zA-Z0-9]+$/"
                    ng-model="cmcc.connection.id"  original-value="{{cmcc.connection.oldId}}" connection-id-validator>
            <div ng-messages="mongoForm.id.$error" >
                <div ng-message-exp="validationName" ng-repeat="(validationName, validationMessage) in cmcc.validations.id">{{validationMessage}}</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Database Name</label>
            <input md-maxlength="30" required ng-pattern="/^[a-zA-Z0-9_]+$/" name="dbName" ng-model="cmcc.connection.dbName" >
            <div ng-messages="mongoForm.dbName.$error">
                <div ng-message-exp="validationName" ng-repeat="(validationName, validationMessage) in cmcc.validations.dbName">{{validationMessage}}</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>User</label>
            <input name="user"  ng-model="cmcc.connection.user" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" ng-change="cmcc.updateIsEmpty('user');">
            <div ng-messages="mongoForm.user.$error">
                <div ng-message-exp="validationName" ng-repeat="(validationName, validationMessage) in cmcc.validations.user">{{validationMessage}}</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" ng-if="!cmcc.isEmpty.user">
            <label>Password</label>
            <input type="password" name="password" ng-model="cmcc.connection.password" ng-change="cmcc.updateIsEmpty('password');">
        </md-input-container>

        <md-input-container class="md-block" ng-if="!cmcc.isEmpty.password && !cmcc.isEmpty.user">
            <label>Authentication Database</label>
            <input required name="authDb" ng-model="cmcc.connection.authDb">
            <div ng-messages="mongoForm.authDb.$error">
                <div ng-message-exp="validationName" ng-repeat="(validationName, validationMessage) in cmcc.validations.authDb">{{validationMessage}}</div>
            </div>
        </md-input-container>
        <md-button ng-if="cmcc.mode=='create'" class="md-raised md-primary pull-right" ng-click="cmcc.createMongoConnection()" ng-disabled="mongoForm.$invalid">
            Create </md-button>
        <md-button ng-if="cmcc.mode=='edit'" class="md-raised md-primary pull-right" ng-click="cmcc.editMongoConnection()" ng-disabled="mongoForm.$invalid">
                Update </md-button>
        <md-button class="md-raised md-primary pull-right" ng-if="cmcc.mode=='import-edit'" ng-click="cmcc.updateImportedConnection()">
            Ok
        </md-button>
        <md-button class="md-raised md-primary pull-right" ng-click="cmcc.cancel()">
            <span ng-if="cmcc.mode=='edit' || cmcc.mode=='create'">Back</span>
            <span ng-if="cmcc.mode=='import-edit'">Cancel</span>
        </md-button>
    </form>
</md-content>
