<dc-spinner spinner-mode="cmcc.spinnerOptions.mode" show="cmcc.spinnerOptions.showSpinner"></dc-spinner>
<md-content layout-padding>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Settings">
            <form name="mongoForm">
                <md-content class="md-padding">
                    <md-checkbox ng-model="cmcc.connection.isConnected" aria-label="Automatic startup after Creation"
                                 ng-true-value="true" ng-false-value="false"
                                 class="md-warn md-align-top-left" flex>
                        <span class="ipsum">Enable connection</span>
                    </md-checkbox>

                    <md-button class="md-fab md-mini md-success pull-right"
                               ng-click="cmcc.testMongoConnection()"
                               ng-disabled="mongoForm.$invalid"
                               uib-tooltip="Test connection">
                        <i class="fa fa-lg fa-check-circle-o"></i>
                    </md-button>
                    <md-input-container class="md-block" flex-gt-sm="1">
                        <label>Host</label>
                        <input required ng-minlength="4" md-maxlength="15" name="host" ng-model="cmcc.connection.host">
                        <div ng-messages="mongoForm.host.$error" ng-if="mongoForm.host.$dirty">
                            <div ng-message-exp="validationName"
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.host">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Port</label>
                        <input md-maxlength="5" ng-pattern="/[0-9]*/" name="port"
                               ng-model="cmcc.connection.port" length-parser length-parser-max="5" range-parser
                               range-max-value="65535">
                        <div ng-messages="mongoForm.port.$error" ng-if="mongoForm.port.$dirty">
                            <div ng-message-exp="validationName"
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.port">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Connection Name (id)</label>
                        <input md-maxlength="30" name="id" required ng-pattern="/^[a-zA-Z0-9]+$/"
                               ng-model="cmcc.connection.id" original-value="{{cmcc.connection.oldId}}"
                               connection-id-validator>
                        <div ng-messages="mongoForm.id.$error" ng-if="mongoForm.id.$dirty">
                            <div ng-message-exp="validationName"
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.id">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Database Name</label>
                        <input md-maxlength="30" required ng-pattern="/^[a-zA-Z0-9_]+$/" name="dbName"
                               ng-model="cmcc.connection.dbName">
                        <div ng-messages="mongoForm.dbName.$error" ng-if="mongoForm.dbName.$dirty">
                            <div ng-message-exp="validationName"
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.dbName">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>User</label>
                        <input name="user" ng-model="cmcc.connection.user" ng-pattern="/^[a-zA-Z0-9]{4,10}$/"
                               ng-change="cmcc.updateIsEmpty('user');">
                        <div ng-messages="mongoForm.user.$error" ng-if="mongoForm.user.$dirty">
                            <div ng-message-exp="validationName"
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.user">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" ng-if="!cmcc.isEmpty.user">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="cmcc.connection.password"
                               ng-change="cmcc.updateIsEmpty('password');">
                    </md-input-container>

                    <md-input-container class="md-block" ng-if="!cmcc.isEmpty.password && !cmcc.isEmpty.user">
                        <label>Authentication Database</label>
                        <input required name="authDb" ng-model="cmcc.connection.authDb">
                        <div ng-messages="mongoForm.authDb.$error" ng-if="mongoForm.authDb.$dirty">
                            <div ng-message-exp="validationName"
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.authDb">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-button ng-if="cmcc.mode=='create'" class="md-raised md-primary pull-right"
                               ng-click="cmcc.createMongoConnection()" ng-disabled="mongoForm.$invalid">
                        Create
                    </md-button>
                    <md-button ng-if="cmcc.mode=='edit'" class="md-raised md-primary pull-right"
                               ng-click="cmcc.editMongoConnection()" ng-disabled="mongoForm.$invalid">
                        Update
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-if="cmcc.mode=='import-edit' "
                               ng-click="cmcc.updateImportedConnection()">
                        Ok
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-click="cmcc.cancel()">
                        <span ng-if="cmcc.mode=='edit' || cmcc.mode=='create'">Back</span>
                        <span ng-if="cmcc.mode=='import-edit'">Cancel</span>
                    </md-button>

                </md-content>
            </form>
        </md-tab>

        <md-tab label="Advanced Settings">
            <md-content class="md-padding">
                <form name="mongoAdvancedForm">

                    <md-subheader class=" md-no-sticky">
                        <span>Replica Set</span>
                        <md-checkbox class="pull-right"
                                     ng-model="cmcc.isReplicaSet"
                                     ng-true-value="true"
                                     ng-false-value="false"
                                     ng-change="cmcc.updateReplicaSetOptions()">
                        </md-checkbox>
                    </md-subheader>
                    <div ng-if="cmcc.isReplicaSet">
                        <md-input-container class="md-block col-md-offset-2">
                            <label>Name</label>
                            <input required
                                   name="replicaSetName"
                                   ng-pattern="/^[a-zA-Z0-9_]+$/"
                                   ng-model="cmcc.connection.options.repl.replicaSet">
                            <div ng-messages="mongoAdvancedForm.replicaSetName.$error" ng-if="mongoAdvancedForm.replicaSetName.$dirty">
                                <div ng-message-exp='validationName'
                                     ng-repeat="(validationName, validationMessage) in cmcc.validations.replicaSet.name">
                                    {{validationMessage}}
                                </div>
                            </div>
                        </md-input-container>
                        <md-list>
                            <md-list-item ng-repeat="member in cmcc.connection.options.repl.members track by $index"
                                          layout-margin layout-padding layout-fill layout-wrap="" class="box-wrap2">
                                <md-input-container class="md-block" layout="flex">
                                    <label>Host</label>
                                    <input class="md-primary" required name="replicaSetHost" ng-pattern="/^[a-zA-Z0-9_]+$/"
                                           ng-model="member.host">
                                    <div ng-messages="mongoAdvancedForm.replicaSetHost.$error" ng-if="mongoAdvancedForm.replicaSetHost.$dirty">
                                        <div ng-message-exp='validationName'
                                             ng-repeat="(validationName, validationMessage) in cmcc.validations.members.host">
                                            {{validationMessage}}
                                        </div>
                                    </div>
                                </md-input-container>
                                :
                                <md-input-container class="md-block" layout="flex">
                                    <label>Port</label>
                                    <input class="md-primary"
                                           name="replicaSetPort"
                                           ng-pattern="/^[0-9]*$/"
                                           ng-model="member.port "length-parser length-parser-max="5" range-parser
                                           range-max-value="65535">
                                    <div ng-messages="mongoAdvancedForm.replicaSetPort.$error" ng-if="mongoAdvancedForm.replicaSetPort.$dirty">
                                        <div ng-message-exp='validationName'
                                             ng-repeat="(validationName, validationMessage) in cmcc.validations.members.port">
                                            {{validationMessage}}
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-icon class="md-secondary"
                                         aria-label="Delete connection"
                                         ng-click="cmcc.removeReplicaMember($index)">
                                    <i class="fa fa-trash-o"></i>
                                </md-icon>
                            </md-list-item>
                            <md-list-item>
                                <md-icon class="md-secondary"
                                         aria-label="Create new Mongo connection"
                                         ng-click="cmcc.addReplicaMember()">
                                    <i class="fa fa-plus"
                                       title=" Add  Replica member"></i>
                                </md-icon>
                            </md-list-item>
                        </md-list>
                    </div>
                    <md-divider></md-divider>

                    <md-subheader class="md-no-sticky"><span>Connection Timeouts</span></md-subheader>

                    <md-input-container class="md-block col-md-offset-2">
                        <label>Connect Timeout</label>
                        <input name="connectTimeoutMS"
                               ng-pattern="/^[0-9]*$/"
                               ng-model="cmcc.connection.options.conn.connectTimeoutMS">
                        <div ng-messages="mongoAdvancedForm.connectTimeoutMS.$error" ng-if="mongoAdvancedForm.connectTimeoutMS.$dirty">
                            <div ng-message-exp='validationName'
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.connectTimeoutMS">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block col-md-offset-2">
                        <label>Socket Timeout</label>
                        <input name="socketTimeoutMS"
                               ng-pattern="/^[0-9]*$/"
                               ng-model="cmcc.connection.options.conn.socketTimeoutMS">
                        <div ng-messages="mongoAdvancedForm.connectTimeoutMS.$error" ng-if="mongoAdvancedForm.socketTimeoutMS.$dirty">
                            <div ng-message-exp='validationName'
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.socketTimeoutMS">
                                {{validationMessage}}
                            </div>
                        </div>

                    </md-input-container>
                    <md-divider></md-divider>

                    <md-subheader class=" md-no-sticky"><span>Connection Pool Settings</span>
                    </md-subheader>

                    <md-input-container class="md-block col-md-offset-2">
                        <label>Max PoolSize</label>
                        <input name="maxPoolSize"
                               ng-pattern="/^[0-9]*$/"
                               ng-model="cmcc.connection.options.connPool.maxPoolSize">
                        <div ng-messages="mongoAdvancedForm.maxPoolSize.$error" ng-if="mongoAdvancedForm.maxPoolSize.$dirty">
                            <div ng-message-exp='validationName'
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.maxPoolSize">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block col-md-offset-2">
                        <label>Min PoolSize</label>
                        <input name="minPoolSize"
                               ng-pattern="/^[0-9]*$/"
                               ng-model="cmcc.connection.options.connPool.minPoolSize">
                        <div ng-messages="mongoAdvancedForm.minPoolSize.$error" ng-if="mongoAdvancedForm.minPoolSize.$dirty">
                            <div ng-message-exp='validationName'
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.minPoolSize">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block col-md-offset-2">
                        <label>Wait Queue Timeout</label>
                        <input name="waitQueueTimeoutMS"
                               ng-pattern="/^[0-9]*$/"
                               ng-model="cmcc.connection.options.connPool.waitQueueTimeoutMS">
                        <div ng-messages="mongoAdvancedForm.minPoolSize.$error" ng-if="mongoAdvancedForm.waitQueueTimeoutMS.$dirty">
                            <div ng-message-exp='validationName'
                                 ng-repeat="(validationName, validationMessage) in cmcc.validations.waitQueueTimeoutMS">
                                {{validationMessage}}
                            </div>
                        </div>
                    </md-input-container>
                </form>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
